$logo-green: #009BB5;
$header-green: #009bb5;
$hover-green: #D9E6D9;
$active-gray: #8D8D8D;
$tag-gray: #D8D8D8;
$serif: 'lyon';
$sans-serif: 'cera-pro';
$text-color: #1e1e1e;

@import '@dfk-paris/frontend/src/demo';
@import './shared';
