<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8" />

  <title>Wikidata</title>
</head>
<body>
  <div is="wikidata-loading"></div>
  <div is="wikidata-entities"></div>

  <div is="wikidata-fly-in"></div>
</body>
</html>
