<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8" />

  <title>Wikidata</title>
</head>
<body>
  <div is="wikidata-loading"></div>
  <div is="wikidata-charts" class="d-block w-40 pr-7 mb-3"></div>
  <div is="wikidata-entities"></div>
</body>
</html>
