// we are copying styles for imported dfk frontend components

dfk-facet {
  @extend facet;

  a {
    padding: map-get($spacers, 2);
    margin-bottom: map-get($spacers, 2);
  }
}

dfk-pagination {
  @extend pagination;
}

dfk-active-filters {
  @extend active-filters;
}


// wikidata app styles

wikidata-entities, [is='wikidata-entities'] {
  a {
    cursor: pointer;
  }

  ul {
    li:before {
      margin-left: 0;
    }
  }
}

wikidata-register {
  a {
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 3px;
    margin-right: 3px;

    text-decoration: none;

    &:hover {
      color: #000;
    }
  }

  a:first-child {
    margin-left: 0;
    padding-left: 0;
  }

  a:last-child {
    margin-rignt: 0;
    padding-right: 0;
  }
}

a.type-ref {
  background-color: $tag-gray;
}

dfk-facet {
  .header {
    font-size: 1.2em;
    font-weight: bold;
  }
}

[is=wikidata-fly-in] {
  h2 {
    margin-top: 2em;
  }

  a {
    cursor: pointer;
    color: $dfk-green;
    text-decoration: underline;
  }
}
